<html>
<head> <title> Area of a Square </title> </head>
<center> <h1> Calculate the area of a square </h1>
<body bgcolor="cyan">
<script language="javascript">

function Area()
        {
     var area, base, height;
            base = prompt("Enter the base");
            height = prompt("Enter height");

            base = parseInt(base);
            height = parseInt(height);
            area = (base * height);

            alert("The area of the square is:" + area);
        }
    </script>
  <form name="form1">
      <input type="button" value="Calculate" onclick=Area()>
   </form>
   </center>
  </body>
</html> 